:root {
  --font-primary: "SamsungOne";
  --font-secondary: "SamsungSharpSans";

  --color-pale-orange: #F8C493;
  --color-pale-green: #A5D699;
  --color-pale-teal: #A5D3D7;
  --color-pale-blue: #C6E0FA;
  --color-pale-purple: #BAB5EB;
  --color-pale-pink: #E7BED7;
  --color-dark: #000;
}

body {
  font-family: var(--font-primary), sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


